body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Shadows Into Light", cursive;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1, h2, p, a{
    margin: 0;
}
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
main{
    flex-grow: 1;
}

/* Header start */
.header{
    background-color: #c94444;
}
.header h1{
    font-size: 50px;
    color: white;
    padding-top: 10px;
    margin-bottom: 20px;
}
.header-link{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
.header-wrapper{
    margin-left: 50px;
    margin-right: 20px;
}
.header-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 700px;
    padding-bottom: 20px;
}
.header-link:hover{
    transition: color 0.5s;
    color: #660000;
}
#active{
    color: #660000;
}
/* Header end */

/* Main start */
.main-wrapper{
    margin: 50px auto;
    width: 79%;
}
.main-wrapper h2{
    font-size: 30px;
    margin-bottom: 30px;
    color: #c94444;
}
.about-pic{
    width: 70%;
    margin-bottom: 10px;
}
.about-text-wrapper{
    border-left: 5px solid #c94444;
}
.about-text{
    padding: 6px;
    font-size: 25px;
    text-align: justify;
    line-height: 130%;
}
.about{
    margin-bottom: 50px;
}
/* Main end */

/* Benefits start */
.benefits{
    margin-bottom: 50px;
}
.benefits-list-item{
    font-size: 25px;
    text-align: justify;
    line-height: 130%;
}
.benefits-list{
    padding-left: 20px;
    margin: 0;
}
/* Benefits end */

/* Dishes starts */
#dishes{
    margin-bottom: 50px;
}
.dishes-table th, .dishes-table td{
    padding: 6px;
    font-size: 25px;
    text-align: center;
    line-height: 130%;
    border: 2px solid #c94444;
    border-collapse: collapse;
    color: black;
}

/* Dishes ends */

/* Footer start */
#contacts{
    background-color: black;
    min-height: 100px;
}
.footer-text{
    font-size: 30px;
    color: white;
    padding-left: 50px;
    padding-top: 40px;
}
.copyright{
    font-size: 15px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    padding-bottom: 7px;
}
.footer-link{
    text-decoration: 0;
    color: white;
}
.footer-link:hover{
    transition: color 0.5s, margin-left 1s, margin-right 1s;
    color: #660000;
    margin-left: 15px;
    margin-right: 15px;
}
/* Footer end */

/* Menu starts */
.menu-soup-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 70px;
}
.menu-wrapper{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 80vw;
}
.menu-wrapper h2{
    font-size: 40px;
    margin-bottom: 30px;
    color: #c94444;
}
.menu-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    margin: 0 auto;

    background-color: white;
    filter: drop-shadow(17px 19px 24px #dedede);
    padding: 50px 57px;
    border-radius: 35px;
    border: 6px #ffdbe1 solid;
}
.menu-card:hover{
    transition: border 0.5s;
    border: 6px tomato solid;
}
.menu-card:hover > button{
    transition: background-color 0.5s;
    background-color: rgba(0, 0, 0, 0.1);
}
.menu-card-pic{
    width: 20vw;
    height: 20vw;
    border-radius: 35px;
}
.menu-card p{
    font-size: 2rem;
    padding: 0;
}
.adding-button{
    border-radius: 10px;
    border: 0;
    padding: 20px 30px;
    font-size: 2rem;
    cursor: pointer;
}
.menu-card-price{
    margin-bottom: -15px;
    color: #490005;
}
.menu-card-name{
    color: #490005;
}
.menu-card-weight{
    color: #505050;
}
@media (max-width: 1400px){
  .menu-wrapper{
    padding-left: 50px;
  }
  .menu-soup-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .menu-card{
    width: 30vw;
  }
  .menu-card-pic{
    width: 30vw;
    height: 30vw;
  }
}
@media (max-width: 1186px){
  .menu-soup-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .menu-wrapper{
    padding-left: 50px;
  }
  .menu-card{
    width: 300px;
  }
  .menu-card-pic{
    width:300px;
    height: 300px;
  }
  .dishes-table th, .dishes-table td{
    font-size: 17px;
  }
}
@media (max-width: 560px){
  .menu-soup-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .menu-wrapper{
    padding-left: 50px;
  }
  .menu-card{
    width: 200px;
    padding: 10px 10px;
  }
  .menu-card-pic{
    width:  200px;
    height: 200px;
  }
}
/* Menu ends */

/* Order starts */
.order-wrapper{
    display:flex;
    max-width: 1000px;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 50px;
}
.order-positions{
    display: flex;
    flex-direction: column
}
.order-positions-dishes{
    font-size: 30px;
}
.order-positions-title{
    margin-bottom: 30px;
}
.order-positions-title, .order-personal-data-title{
    font-size: 40px;
}
.select-dish, .data-input{
    height: 50px;
    width: auto;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 6px;
    border-width: 2px;
}
.order-comment{
    width: auto;
    font-size: 20px;
    border-radius: 6px;
    border-width: 2px;
}
.data-input{
    display: block;
    border-style: solid;
    padding: 0;
    height: 46px;
    width: 98%;
    padding-left: 5px;
}
.input-desc{
    font-size: 20px;
    font-style: italic;
    margin-bottom: 18px;
}
.checkbox-text{
    font-size: 20px;
}
.radio-input{
    margin-left: 0;
    height: 17px;
    width: 17px;
}
.radio-text{
    font-size: 23px;
    display: block;
}
.checkbox-wrapper{
    margin-bottom: 12px;
}
.radio-row{
    margin-bottom: 12px;
}
.button{
    width: auto;
    background-color: white;
    border: 2px solid dimgray;
    border-radius: 7px;
    height: 50px;
    width: 45%;
    font-size: 20px;
}
.button:hover{
    transition: background-color 0.5s;
    background-color: rgba(0, 0, 0, 0.1);
}
.button-wrapper{
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* Order ends */